.caja {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.caja1 {
    background-color: red;
}

.caja2 {
    left: 30%;
    background-color: blue;
}

.caja3 {
    top: 210px;
    background-color: rgb(0, 255, 13);
}

.caja4 {
    top: 410px;
    left: 30%;
    background-color: rgb(0, 225, 255);
}

.caja5 {
    top: 410px;
    left: 15.5%;
    background-color: rgb(255, 94, 0);
}

.caja6 {
    top: 410px;
    background-color: rgb(255, 0, 140);
}

.caja7 {
    top: 210px;
    left: 30%;
    background-color: rgb(47, 90, 41);
}

.caja8 {
    top: 10px;
    left: 15.5%;
    background-color: rgb(77, 53, 40);
}
